@import "/styles/variables.scss";

.bottomSection {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100vw;
  position: fixed;
  bottom: 0px;
  // padding-top: 0.6rem;
  // padding-bottom: 0.6rem;

  .arrowSection {
    position: absolute;
    // background-color: white;

    margin-left: auto;
    margin-right: auto;

    //
    left: 50%;
    top: -100px;
    // transform: translate(-50%,0);
    // position: absolute;
  }

  @media screen and (max-width: $mobileResolution) {
    font-weight: 400 !important;
    font-size: 15px !important;
  }

  .links {
    display: flex;
    a {
      margin-left: 18px;
      font-size: 15px;
      font-weight: 400;
    }
  }
}
